/** 
Google Fonts 
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #EBE9D8;
    color: #EB4831;
}


body #nav {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    height: 2.5em;
    line-height: 2.5em;
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    margin: 0 0 2.5% 0;
    background-color: rgb(34, 34, 34);
    z-index: 1;
}

body #nav ul li {
    display: inline-block;
    list-style-position: inside;
    list-style-type: none;
}

body #nav a {
    text-decoration: none;
    margin: 0 0 0 1.5em;
    padding: 0.3em 0.5em 0.3em 0.5em;
    color: #EB4831;
}

body #nav a:hover {
    color: #ff5c47;
}

body h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 2.5% 0;
}

body #formErrorMsg {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(34, 34, 34);
    width: 50%;
    margin: 0 auto;
    list-style-position: inside;
}

body #invalid-form-ul,
body #invalid-form-pw {
    list-style-type: square;
}

body #invalid-form-h3 {
    background-color:  rgb(34, 34, 34);
    color: #EB4831;
    margin: 0 0 1.5% 0;
    padding: 1%;
    border-radius: 10px;
}

body #contactMeForm {
    margin: 5% auto;
    text-align: center;
    width: 50%;
}

body label {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background-color: rgb(34, 34, 34);
    padding: 1%;
    border-radius: 10px;
}

body input {
    margin: 5% 0;
    padding: 1%;
    font-size: 2em;
    background-color: #EBE9D8;
    color: rgb(34, 34, 34);
    border-radius: 10px;
    border-color: rgb(34, 34, 34);
    border-width: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

body #pwStrengthMeter {
    position: relative;
    bottom: 25px;
    left: 100px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: rgb(34, 34, 34);
}

body textarea {
    margin: 5% 0 0 0;
    padding: 1%;
    font-size: 2em;
    resize: none;
    font-size: 2em;
    background-color: #EBE9D8;
    color: rgb(34, 34, 34);
    border-radius: 10px;
    border-color: rgb(34, 34, 34);
    border-width: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

body #commentCount {
    font-size: 1.5em;
    background-color: rgb(34, 34, 34);
    border-width: 1px;
    color: #EB4831;
    margin: 1% 0 0 70%;
}

body #submit {
    background-color: rgb(34, 34, 34);
    color: #EB4831;
    border-width: 1px;
    margin: 20% 0 0 0;
}

body #submit:hover {
    background-color: rgb(17, 17, 17);
    color: #b83827;
}
