/** 
Google Fonts 
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;

Colors
Primary: #EBE9D8
Seconday: #EB4831
Accent: #9E3729
*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EBE9D8;
    color: #EB4831;
}

body #nav {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    height: 2.5em;
    line-height: 2.5em;
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    margin: 0 0 2.5% 0;
    background-color: rgb(34, 34, 34);
}

body #nav ul li {
    display: inline-block;
    list-style-position: inside;
    list-style-type: none;
}

body #nav a {
    text-decoration: none;
    margin: 0 0 0 1.5em;
    padding: 0.3em 0.5em 0.3em 0.5em;
    color: #EB4831;
}

body #nav a:hover {
    color: #ff5c47;
}

body h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 2.5% 0;
}

body #slide {
    display: inline-block;
    width: 100%;
}

body #previous-button {
    font-size: 5em;
    position: absolute;
    top: 45%;
    left: 25%;
    border-radius: 100px;
}

body #next-button {
    font-size: 5em;
    position: absolute;
    top: 45%;
    right: 25%;
    border-radius: 100px;
}

body #previous-button,
body #next-button {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(34, 34, 34);
    color: #EB4831;
    border-color:rgb(34, 34, 34);
}

body #previous-button:hover ,
body #next-button:hover {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(37, 37, 37);
    color: #ff5c47;
    border-color: rgb(37, 37, 37);
}

#slide #feet-img,
#slide #dry-leaf-img,
#slide #wood-img,
#slide #stone-img,
#slide #trees-and-sky-img {
    max-height: 500px;
    max-width: auto;
    border-radius: 10px;
    margin: 0 auto;
}